- pattern: "(?ms)^.*?#login_attempt_(?P<status>success|failed).*?\n.*?@(?P<username>\\S+),\\s*ID:\\s*(?P<id>\\d+)\\n.*?IP:\\s*(?P<ip>[0-9\\.]+)\\n.*?User agent:\\s*(?P<ua>.+?)\\n.*?Description:\\s*(?P<desc>.+)$"
  topic_id:
  template: |
    {% if status == 'success' %}
    Доступ в панель разрешен ✅
    {% else %}
    Доступ в панель отклонен ❌
    {% endif %}
    Пользователь: @{{ username }}, ID: {{ id }}
    IP: {{ ip }}
    Машина: {{ ua }}
    Описание: {{ desc }}