- pattern: '^Заявка:\s*(?P<type>[^|]+)\|\s*user=(?P<user>[^|]+)\|\s*тел=(?P<phone>\S+)'
  topic_id: 111
  template: |
    📝 Новая заявка
    Тип: {{ type | trim }}
    Пользователь: {{ user | trim }}
    Телефон: {{ phone | trim }}

- pattern: '^Ошибка:\s*(?P<code>\d+)\s*-\s*(?P<msg>.+)'
  topic_id: 222
  template: |
    ❗ Ошибка {{ code }}
    Сообщение: {{ msg | trim }}


    ⏱️ #expires_in_48_hours
    ➖➖➖➖➖➖➖➖➖
    Username: 129_7736152841